Repository 9renpoto/win: changes, and which lefthook commands are due for each by the changed paths.
All: deno-fmt, deno-lint

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    deno-fmt:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: deno fmt {staged_files}
    deno-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: deno lint {staged_files}
    typos:
      run: typos {staged_files}

chore: add Algolia index sync and update GitHub runners (#167)
  .github/workflows/actionlint.yml
  .github/workflows/algolia-index.yml
  .github/workflows/cspell.yml
  .github/workflows/deno.yml
  .github/workflows/dependabot.yml
  .github/workflows/stale.yml
  .github/workflows/textlint.yml
  .lefthook.yml
  README.md
  deno.json
  scripts/sync_algolia_index.ts
Due: deno-fmt, deno-lint

chore: add Algolia index sync and update GitHub runners
  .github/workflows/actionlint.yml
Due: none

style: format AlgoliaSearch island
  islands/AlgoliaSearch.tsx
Due: deno-fmt, deno-lint

Apply suggestion from @9renpoto
  .github/workflows/actionlint.yml
Due: none

feat: migrate search UI from DocSearch to Algolia autocomplete
  README.md
  client.ts
  components/Header.tsx
  deno.json
  deno.lock
  islands/AlgoliaSearch.tsx
  islands/DocSearch.tsx
  routes/_app.tsx
  scripts/sync_algolia_index.ts
  static/styles.css
Due: deno-fmt, deno-lint

refactor: remove DOCSEARCH compatibility env vars
  .github/workflows/algolia-index.yml
  routes/_app.tsx
  scripts/sync_algolia_index.ts
Due: deno-fmt, deno-lint

feat: migrate DocSearch to Algolia autocomplete (#168)
  .github/workflows/algolia-index.yml
  README.md
  client.ts
  components/Header.tsx
  deno.json
  deno.lock
  islands/AlgoliaSearch.tsx
  islands/DocSearch.tsx
  routes/_app.tsx
  scripts/sync_algolia_index.ts
  static/styles.css
Due: deno-fmt, deno-lint

fix: read Algolia index config from repository variables
  .github/workflows/algolia-index.yml
Due: none

fix: read Algolia index config from repository variables (#169)
  .github/workflows/algolia-index.yml
Due: none

fix: stabilize algolia autocomplete rendering
  components/Header.tsx
  islands/AlgoliaSearch.tsx
Due: deno-fmt, deno-lint

chore: format algolia search island
  islands/AlgoliaSearch.tsx
Due: deno-fmt, deno-lint

fix: stabilize algolia autocomplete rendering (#170)
  components/Header.tsx
  islands/AlgoliaSearch.tsx
Due: deno-fmt, deno-lint

fix: optimize mobile search layout
  components/Header.tsx
  islands/AlgoliaSearch.tsx
  islands/HamburgerButton.tsx
  static/styles.css
Due: deno-fmt, deno-lint

fix: optimize mobile search layout (#171)
  components/Header.tsx
  islands/AlgoliaSearch.tsx
  islands/HamburgerButton.tsx
  static/styles.css
Due: deno-fmt, deno-lint

fix: stabilize entry rendering and infinite scroll
  __tests__/utils/posts.test.ts
  deno.json
  deno.lock
  islands/PostList.tsx
  routes/about/index.tsx
  routes/entry/[...all].tsx
  tailwind.config.ts
  utils/posts.ts
  vite.config.ts
Due: deno-fmt, deno-lint

fix: stabilize entry rendering and infinite scroll (#172)
  __tests__/utils/posts.test.ts
  deno.json
  deno.lock
  islands/PostList.tsx
  routes/about/index.tsx
  routes/entry/[...all].tsx
  tailwind.config.ts
  utils/posts.ts
  vite.config.ts
Due: deno-fmt, deno-lint

feat: add x.com and Bluesky social embed support in markdown
  __tests__/utils/posts.test.ts
  deno.lock
  routes/_app.tsx
  routes/about/index.tsx
  routes/entry/[...all].tsx
  static/styles.css
  utils/posts.ts
Due: deno-fmt, deno-lint

feat: add keyboard post
  posts/2026/03/31/keyboard.md
Due: none

fix: markdown, embed, and lint issues for CI compliance
  __tests__/utils/posts.test.ts
  posts/2023/11/12/dlvrit-to-gh-actions.md
  posts/2026/03/31/keyboard.md
  utils/posts.ts
Due: deno-fmt, deno-lint

fix: make Bluesky embed replacement synchronous (avoids async callback in String.replace)
  utils/posts.ts
Due: deno-fmt, deno-lint

feat: add skipEmbeds option to renderMarkdown/getPost for scalable post listing
  utils/posts.ts
Due: deno-fmt, deno-lint

refactor: introduce PostFrontMatter type for front-matter extraction (type safety improvement)
  utils/posts.ts
Due: deno-fmt, deno-lint

fix: add AbortController with timeout to resolveDid() fetch for reliability
  utils/posts.ts
Due: deno-fmt, deno-lint

fix: make Bluesky embed resize handler robust (querySelectorAll, dataset.bskyId, contentWindow check)
  routes/_app.tsx
Due: deno-fmt, deno-lint

test: export resolveDid and fix test stubs/afterEach for Deno compatibility
  __tests__/utils/posts.test.ts
  utils/posts.ts
Due: deno-fmt, deno-lint

test: clear handleDidCache before each resolveDid test to avoid cache pollution
  __tests__/utils/posts.test.ts
  utils/posts.ts
Due: deno-fmt, deno-lint

test: stub fetch for Bluesky embed tests to avoid timer leaks and ensure DID resolution
  __tests__/utils/posts.test.ts
Due: deno-fmt, deno-lint

fix(test): return Promise in stub callbacks to satisfy deno-lint and type checker
  __tests__/components/Header.test.tsx
  __tests__/routes/likes.test.ts
  __tests__/routes/posts.test.ts
  __tests__/routes/rss.test.ts
  __tests__/utils/net.test.ts
  __tests__/utils/posts.test.ts
  components/GoogleAnalytics.tsx
  components/Header.tsx
  deno.lock
  islands/AlgoliaSearch.tsx
  islands/HamburgerButton.tsx
  islands/LikeButton.tsx
  islands/PostList.tsx
  routes/_middleware.ts
  routes/api/likes.ts
  routes/api/posts.ts
  routes/index.tsx
  scripts/sync_algolia_index.ts
  test-support/preact.ts
  utils/net.ts
  utils/posts.ts
Due: deno-fmt, deno-lint

fix: format
  __tests__/utils/posts.test.ts
Due: deno-fmt, deno-lint

feat: add keyboard post (#175)
  __tests__/components/Header.test.tsx
  __tests__/routes/likes.test.ts
  __tests__/routes/posts.test.ts
  __tests__/routes/rss.test.ts
  __tests__/utils/net.test.ts
  __tests__/utils/posts.test.ts
  components/GoogleAnalytics.tsx
  components/Header.tsx
  deno.lock
  islands/AlgoliaSearch.tsx
  islands/HamburgerButton.tsx
  islands/LikeButton.tsx
  islands/PostList.tsx
  posts/2023/11/12/dlvrit-to-gh-actions.md
  posts/2026/03/31/keyboard.md
  routes/_app.tsx
  routes/_middleware.ts
  routes/about/index.tsx
  routes/api/likes.ts
  routes/api/posts.ts
  routes/entry/[...all].tsx
  routes/index.tsx
  scripts/sync_algolia_index.ts
  static/styles.css
  test-support/preact.ts
  utils/net.ts
  utils/posts.ts
Due: deno-fmt, deno-lint

feat: optimize OGP meta tags for X, Threads, and Bluesky
  components/SEO.tsx
  routes/about/index.tsx
  routes/entry/[...all].tsx
  routes/index.tsx
  utils/website.ts
Due: deno-fmt, deno-lint

feat: optimize OGP meta tags for X, Threads, and Bluesky (#176)
  components/SEO.tsx
  routes/about/index.tsx
  routes/entry/[...all].tsx
  routes/index.tsx
  utils/website.ts
Due: deno-fmt, deno-lint

chore: pinact and dockerfile-pin run
  .devcontainer/Dockerfile
  .github/workflows/actionlint.yml
  .github/workflows/algolia-index.yml
  .github/workflows/cspell.yml
  .github/workflows/deno.yml
  .github/workflows/dependabot.yml
  .github/workflows/stale.yml
  .github/workflows/textlint.yml
Due: none

fix: remove concurrency option
  .github/workflows/actionlint.yml
Due: none

refactor/pin (#178)
  .devcontainer/Dockerfile
  .github/workflows/actionlint.yml
  .github/workflows/algolia-index.yml
  .github/workflows/cspell.yml
  .github/workflows/deno.yml
  .github/workflows/dependabot.yml
  .github/workflows/stale.yml
  .github/workflows/textlint.yml
Due: none

feat: include full post content in RSS feed (#186)
  __tests__/routes/rss.test.ts
  routes/rss.xml.ts
Due: deno-fmt, deno-lint

chore: update fresh
  deno.json
  deno.lock
Due: deno-fmt

Add Deno and Dev Containers to Dependabot monitoring (#193)
  .github/dependabot.yml
Due: none
