Repository 9renpoto/win: changes, and which lefthook commands are due for each by the changed paths.
All: deno-fmt, deno-lint

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    deno-fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: deno fmt {staged_files}
    deno-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: deno lint {staged_files}
    typos:
      run: typos {staged_files}

chore: enable kv in tasks
  .github/workflows/deno.yml
  deno.json
Due: deno-fmt

refactor: rely on native kv
  routes/api/likes.ts
  routes/entry/[...all].tsx
  utils/kv-support.ts
Due: deno-fmt, deno-lint

chore: remove deno deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: remove deno deploy workflow (#141)
  .github/workflows/deploy.yml
Due: none

chore: add preact component test harness
  __tests__/components/Bio.test.tsx
  deno.json
  deno.lock
  test-support/preact.ts
Due: deno-fmt, deno-lint

chore: add preact component test harness (#142)
  __tests__/components/Bio.test.tsx
  deno.json
  deno.lock
  test-support/preact.ts
Due: deno-fmt, deno-lint

test: add component coverage
  __tests__/components/Footer.test.tsx
  __tests__/components/Header.test.tsx
  __tests__/components/TableOfContents.test.tsx
Due: deno-fmt, deno-lint

chore/setup xyz (#143)
  __tests__/components/Footer.test.tsx
  __tests__/components/Header.test.tsx
  __tests__/components/TableOfContents.test.tsx
Due: deno-fmt, deno-lint

Delete cspell.json
  cspell.json
Due: deno-fmt

fix: tolerate rss requests without host headers
  __tests__/routes/rss.test.ts
  __tests__/utils/net.test.ts
  deno.lock
  routes/rss.xml.ts
  utils/net.ts
Due: deno-fmt, deno-lint

fix: tolerate rss requests without host headers (#145)
  __tests__/routes/rss.test.ts
  __tests__/utils/net.test.ts
  deno.lock
  routes/rss.xml.ts
  utils/net.ts
Due: deno-fmt, deno-lint

chore: update README for Deno 2
  README.md
Due: deno-fmt

chore: remove devcontainer notes
  README.md
Due: deno-fmt

chore/update readme deno2 (#146)
  README.md
Due: deno-fmt

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/cspell.yml
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions (#147)
  .github/workflows/cspell.yml
Due: none

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/stale.yml
Due: none

Potential fix for code scanning alert no. 3: Workflow does not contain permissions (#149)
  .github/workflows/stale.yml
Due: none

fix: Update deno.lock to resolve integrity check error
  deno.lock
Due: none

fix: Update deno.lock to resolve integrity check error (#151)
  deno.lock
Due: none

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/actionlint.yml
Due: none

Potential fix for code scanning alert no. 4: Workflow does not contain permissions (#152)
  .github/workflows/actionlint.yml
Due: none

chore: add new entry
  .lefthook.yml
  deno.lock
  posts/2025/12/25/output.md
Due: deno-fmt

fix: textlint 対応 (posts/2025/12/25/output.md)
  posts/2025/12/25/output.md
Due: deno-fmt

chore: handle empty TOC and serialize likes BigInt; use RouteHandler types
  __tests__/components/TableOfContents.test.tsx
  __tests__/routes/likes.test.ts
  components/TableOfContents.tsx
  main.ts
  routes/about/index.tsx
  routes/api/likes.ts
  routes/entry/[...all].tsx
  routes/healthz.tsx
  routes/index.tsx
  routes/rss.xml.ts
Due: deno-fmt, deno-lint

chore: update
  deno.lock
  routes/_404.tsx
  routes/_middleware.ts
Due: deno-fmt, deno-lint

chore: update lock hash for @docsearch/js@3.5.2 to match upstream
  deno.lock
Due: none

Revert "chore: update"
  deno.lock
  routes/_404.tsx
  routes/_middleware.ts
Due: deno-fmt, deno-lint

fix: enable deno.unstable and handle Deno KV types without any casts
  .github/workflows/deno.yml
  __tests__/routes/likes.test.ts
  deno.json
  deno.lock
  routes/api/likes.ts
Due: deno-fmt, deno-lint

fix: avoid any casts, add type guards for Deno KV wrapper and use unknown for mutations
  __tests__/routes/likes.test.ts
  routes/api/likes.ts
Due: deno-fmt, deno-lint

chore: tidy likes handler (minor edits)
  routes/api/likes.ts
Due: deno-fmt, deno-lint

fix: use Deno.KvU64 for atomic mutate to satisfy types
  routes/api/likes.ts
Due: deno-fmt, deno-lint

fix/toc likes (#154)
  .github/workflows/deno.yml
  __tests__/components/TableOfContents.test.tsx
  __tests__/routes/likes.test.ts
  components/TableOfContents.tsx
  deno.json
  deno.lock
  main.ts
  routes/about/index.tsx
  routes/api/likes.ts
  routes/entry/[...all].tsx
  routes/healthz.tsx
  routes/index.tsx
  routes/rss.xml.ts
Due: deno-fmt, deno-lint

chore: add new entry (#153)
  .lefthook.yml
  posts/2025/12/25/output.md
Due: deno-fmt

chore: update end of year links
  posts/2018/12/31/2018-end.md
  posts/2019/12/31/2019-end.md
  posts/2024/12/31/2024-end.md
Due: deno-fmt

chore: skip relative links
  .textlintrc.json
Due: deno-fmt

chore: format
  .textlintrc.json
Due: deno-fmt

fix: textlint no-dead-link (posts/2024/12/31/2024-end.md)
  posts/2024/12/31/2024-end.md
Due: deno-fmt
