Repository 9renpoto/win: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell

  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: secretlint
        name: secretlint
        language: docker_image
        entry: secretlint/secretlint:latest secretlint

  - repo: local
    hooks:
      - id: deno-fmt
        name: deno fmt
        entry: deno fmt
        language: system # システムにインストールされたコマンドを使う
        types: [file]
        files: \.(ts|tsx|js|jsx|json|md)$

      - id: deno-lint
        name: deno lint
        entry: deno lint
        language: system
        types: [file]
        files: \.(ts|tsx|js|jsx)$

chore(textlint): ignore /entry/* relative links
  .textlintrc.json
Due: deno-fmt

fix(text): revert links to relative and ignore /entry/** in textlint
  .textlintrc.json
  posts/2024/12/31/2024-end.md
Due: deno-fmt

chore: update end of year links (#156)
  .textlintrc.json
  posts/2018/12/31/2018-end.md
  posts/2019/12/31/2019-end.md
  posts/2024/12/31/2024-end.md
Due: deno-fmt

feat: add new entry
  .github/workflows/deno.yml
  .github/workflows/textlint.yml
  deno.lock
  posts/2026/01/01/2026-yew-year.md
Due: deno-fmt

fix: add header
  posts/2026/01/01/2026-yew-year.md
Due: deno-fmt

feat: add new entry (#157)
  .github/workflows/deno.yml
  .github/workflows/textlint.yml
  deno.lock
  posts/2026/01/01/2026-yew-year.md
Due: deno-fmt

feat: remove @docsearch/js dependency and regenerate deno.lock
  deno.lock
Due: none

chore: deno fmt
  .devcontainer/devcontainer.json
Due: deno-fmt

feat: remove @docsearch/js dependency and regenerate deno.lock (#158)
  .devcontainer/devcontainer.json
  cspell.json
  deno.lock
Due: deno-fmt

chore: update about me
  routes/about/about.md
Due: deno-fmt

chore: update about me (#159)
  routes/about/about.md
Due: deno-fmt

chore: add new entry
  posts/2026/02/04/election.md
Due: deno-fmt

chore: add new entry (#160)
  posts/2026/02/04/election.md
Due: deno-fmt

chore: add new entry
  posts/2026/02/13/current_status.md
Due: deno-fmt

chore: apply textlint
  posts/2026/02/13/current_status.md
Due: deno-fmt

chore: add new entry (#161)
  posts/2026/02/13/current_status.md
Due: deno-fmt

feat: OGPとTwitter Cardの最適化
  components/SEO.tsx
Due: deno-fmt, deno-lint

chore: 依存関係を更新
  deno.json
  deno.lock
Due: deno-fmt

fix: lockfileの整合性問題を修正
  deno.lock
Due: none

feat: Migrate devcontainer to Dockerfile and remove package.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/textlint.yml
  package.json
Due: deno-fmt

chore: Regenerate deno.lock
  deno.lock
Due: none

feat: Remove SearchButton and docsearch dependency
  deno.lock
  islands/SearchButton.tsx
Due: deno-fmt, deno-lint

fix(devcontainer): Fix Dockerfile syntax and warnings
  .devcontainer/Dockerfile
Due: none

feat: Migrate devcontainer to Dockerfile and remove package.json (#163)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/textlint.yml
  deno.lock
  islands/SearchButton.tsx
  package.json
Due: deno-fmt, deno-lint

feat: add infinite scroll to blog index
  __tests__/routes/posts.test.ts
  islands/PostList.tsx
  routes/api/posts.ts
  routes/index.tsx
Due: deno-fmt, deno-lint

chore: format PostList for deno fmt
  islands/PostList.tsx
Due: deno-fmt, deno-lint

chore: enforce no-any and add deno check hook
  .lefthook.yml
  deno.json
  routes/api/posts.ts
Due: deno-fmt, deno-lint

feat: add infinite scroll to blog index (#164)
  .lefthook.yml
  __tests__/routes/posts.test.ts
  deno.json
  islands/PostList.tsx
  routes/api/posts.ts
  routes/index.tsx
Due: deno-fmt, deno-lint

feat: add Algolia DocSearch integration
  README.md
  client.ts
  components/Header.tsx
  deno.json
  deno.lock
  islands/DocSearch.tsx
  routes/_app.tsx
  static/robots.txt
Due: deno-fmt, deno-lint

fix: switch textlint runner to node devcontainer image
  .devcontainer/Dockerfile
Due: none

fix: format README docsearch note
  README.md
Due: deno-fmt

feat: add Algolia DocSearch integration (#165)
  .devcontainer/Dockerfile
  README.md
  client.ts
  components/Header.tsx
  deno.json
  deno.lock
  islands/DocSearch.tsx
  routes/_app.tsx
  static/robots.txt
Due: deno-fmt, deno-lint

feat: improve DocSearch UI and mobile support
  components/Header.tsx
  islands/DocSearch.tsx
  static/styles.css
Due: deno-fmt, deno-lint

feat: improve DocSearch UI and mobile support (#166)
  components/Header.tsx
  islands/DocSearch.tsx
  static/styles.css
Due: deno-fmt, deno-lint

chore: add Algolia index sync and update GitHub runners
  .github/workflows/actionlint.yml
  .github/workflows/algolia-index.yml
  .github/workflows/cspell.yml
  .github/workflows/deno.yml
  .github/workflows/dependabot.yml
  .github/workflows/stale.yml
  .github/workflows/textlint.yml
  README.md
  deno.json
  scripts/sync_algolia_index.ts
Due: deno-fmt, deno-lint

chore: apply formatter output for algolia sync script
  scripts/sync_algolia_index.ts
Due: deno-fmt, deno-lint

chore: include markdown in lefthook fmt
  .lefthook.yml
  README.md
Due: deno-fmt

Apply suggestion from @9renpoto
  .github/workflows/actionlint.yml
Due: none

fix: replace deprecated fail_on_error with fail_level in actionlint
  .github/workflows/actionlint.yml
Due: none
