Repository 9renpoto/win: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell

  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: secretlint
        name: secretlint
        language: docker_image
        entry: secretlint/secretlint:latest secretlint

  - repo: local
    hooks:
      - id: deno-fmt
        name: deno fmt
        entry: deno fmt
        language: system # システムにインストールされたコマンドを使う
        types: [file]
        files: \.(ts|tsx|js|jsx|json|md)$

      - id: deno-lint
        name: deno lint
        entry: deno lint
        language: system
        types: [file]
        files: \.(ts|tsx|js|jsx)$

chore(deps): bump marked from 12.0.2 to 18.0.7 (#205)
  deno.json
  utils/posts.ts
Due: deno-fmt, deno-lint

chore(posts): add new entry
  posts/2024/04/18/hello-world.md
  posts/2026/08/17/hello-world.md
Due: deno-fmt

choreapply textlint
  posts/2026/03/31/keyboard.md
  posts/2026/08/17/hello-world.md
Due: deno-fmt

chore: apply textlint
  posts/2026/03/31/keyboard.md
Due: deno-fmt

chore(posts): add new entry (#219)
  posts/2024/04/18/hello-world.md
  posts/2026/03/31/keyboard.md
  posts/2026/08/17/hello-world.md
Due: deno-fmt

Remove CodeFactor badge from README
  README.md
Due: deno-fmt

Remove CodeFactor badge from README (#220)
  README.md
Due: deno-fmt

feat: add obsidian-style article graph view
  __tests__/components/Header.test.tsx
  __tests__/routes/graph.test.ts
  __tests__/routes/graph_page.test.ts
  __tests__/utils/graph.test.ts
  components/Header.tsx
  components/icons/Graph.tsx
  islands/GraphView.tsx
  routes/api/graph.ts
  routes/graph.tsx
  utils/graph.ts
  utils/posts.ts
Due: deno-fmt, deno-lint

feat: add obsidian-style article graph view (#232)
  __tests__/components/Header.test.tsx
  __tests__/routes/graph.test.ts
  __tests__/routes/graph_page.test.ts
  __tests__/utils/graph.test.ts
  components/Header.tsx
  components/icons/Graph.tsx
  islands/GraphView.tsx
  routes/api/graph.ts
  routes/graph.tsx
  utils/graph.ts
  utils/posts.ts
Due: deno-fmt, deno-lint

fix(algolia): use write endpoint for index sync
  .github/workflows/algolia-index.yml
  scripts/sync_algolia_index.ts
Due: deno-fmt, deno-lint

fix(algolia): position desktop autocomplete panel
  islands/AlgoliaSearch.tsx
  static/styles.css
Due: deno-fmt, deno-lint

Update algolia-index.yml
  .github/workflows/algolia-index.yml
Due: none

fix(algolia): restore search and index synchronization (#233)
  islands/AlgoliaSearch.tsx
  scripts/sync_algolia_index.ts
  static/styles.css
Due: deno-fmt, deno-lint

fix: address migration review feedback
  .devcontainer/devcontainer.json
  .env.example
  .github/workflows/algolia-index.yml
  .github/workflows/node.yml
  .github/workflows/textlint.yml
  .gitignore
  AGENTS.md
  README.md
  __tests__/routes/rss.test.ts
  biome.json
  docs/sveltekit-cloudflare-migration.md
  package-lock.json
  package.json
  prek.toml
  tsconfig.json
  typos.toml
Due: deno-fmt, deno-lint

fix: handle colored browser server output in CI
  scripts/run-browser-tests.ts
Due: deno-fmt, deno-lint

fix: isolate Cloudflare state for browser test servers
  scripts/run-browser-tests.ts
  vite.config.ts
Due: deno-fmt, deno-lint

ci: isolate octocov write permissions
  .github/workflows/node.yml
Due: none

Update node.yml
  .github/workflows/node.yml
Due: none

Replace Codecov with octocov (#262)
  .github/workflows/node.yml
  .octocov.yml
  AGENTS.md
  README.md
  docs/sveltekit-cloudflare-migration.md
Due: deno-fmt

Update by octocov
  docs/coverage.svg
  docs/ratio.svg
  docs/time.svg
Due: none
