Repository 9renpoto/win: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell

  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: secretlint
        name: secretlint
        language: docker_image
        entry: secretlint/secretlint:latest secretlint

  - repo: local
    hooks:
      - id: deno-fmt
        name: deno fmt
        entry: deno fmt
        language: system # システムにインストールされたコマンドを使う
        types: [file]
        files: \.(ts|tsx|js|jsx|json|md)$

      - id: deno-lint
        name: deno lint
        entry: deno lint
        language: system
        types: [file]
        files: \.(ts|tsx|js|jsx)$

chore: remove unused
  __tests__/Header.test.tsx
Due: deno-fmt, deno-lint

feat: Implement hamburger menu for mobile header (#129)
  .gitignore
  .pre-commit-config.yaml
  __tests__/Header.test.tsx
  __tests__/islands/SearchButton.test.tsx
  __tests__/stubs/SearchButton.tsx
  components/Header.tsx
  cspell.json
  deno.json
  deno.lock
  dev.ts
  fresh.gen.ts
  islands/HamburgerButton.tsx
  islands/SearchButton.tsx
Due: deno-fmt, deno-lint

chore: config updates; add PostCard
  .github/workflows/textlint.yml
  .textlintrc.json
  AGENTS.md
  components/PostCard.tsx
  cspell.json
  deno.json
Due: deno-fmt, deno-lint

fix: remove unused
  components/PostCard.tsx
Due: deno-fmt, deno-lint

ci(textlint): run textlint via Bun instead of Deno
  .github/workflows/textlint.yml
  .textlintrc.json
  __tests__/deps.ts
  cspell.json
  deno.json
  package.json
Due: deno-fmt, deno-lint

Update deno.json
  deno.json
Due: deno-fmt

fix: textlint
  posts/2023/11/12/dlvrit-to-gh-actions.md
Due: deno-fmt

fix(github/workflow): use textlint via bun (#131)
  .github/workflows/textlint.yml
  .textlintrc.json
  AGENTS.md
  __tests__/deps.ts
  cspell.json
  deno.json
  package.json
  posts/2023/11/12/dlvrit-to-gh-actions.md
Due: deno-fmt, deno-lint

Update _404.tsx
  routes/_404.tsx
Due: deno-fmt, deno-lint

This commit integrates Codecov bundle analysis into the existing `den… (#132)
  .github/workflows/deno.yml
Due: none

Revert "This commit integrates Codecov bundle analysis into the existing `den…"
  .github/workflows/deno.yml
Due: none

Revert "This commit integrates Codecov bundle analysis into the existing `den…" (#133)
  .github/workflows/deno.yml
Due: none

chore: Remove deprecated @9renpoto/textlint-config-ja package (#135)
  package.json
Due: deno-fmt

fix: remove devcontainer environment
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: deno-fmt

Create childcare_for_sick_children.md
  posts/2025/09/25/childcare_for_sick_children.md
Due: deno-fmt

Update childcare_for_sick_children.md
  posts/2025/09/25/childcare_for_sick_children.md
Due: deno-fmt

Create childcare_for_sick_children.md (#136)
  posts/2025/09/25/childcare_for_sick_children.md
Due: deno-fmt

Update node-test-runner.md
  posts/2023/07/23/node-test-runner.md
Due: deno-fmt

Update join.md
  posts/2024/02/11/join.md
Due: deno-fmt

Update node-test-runner.md (#137)
  posts/2023/07/23/node-test-runner.md
  posts/2024/02/11/join.md
Due: deno-fmt

feat: track analytics client side
  components/GoogleAnalytics.tsx
  deno.json
  routes/_app.tsx
  routes/_middleware.ts
Due: deno-fmt, deno-lint

Update routes/_middleware.ts
  routes/_middleware.ts
Due: deno-fmt, deno-lint

Apply suggestions from code review
  routes/_middleware.ts
Due: deno-fmt, deno-lint

feat: track analytics client side (#138)
  components/GoogleAnalytics.tsx
  deno.json
  routes/_app.tsx
  routes/_middleware.ts
Due: deno-fmt, deno-lint

chore: use lefthook
  .lefthook.yml
  .pre-commit-config.yaml
Due: none

chore: use lefthook (#139)
  .lefthook.yml
  .pre-commit-config.yaml
Due: none

chore: migrate to fresh v2
  .github/workflows/deno.yml
  .mise.toml
  __tests__/Footer.test.tsx
  __tests__/Header.test.tsx
  __tests__/SEO.test.tsx
  __tests__/components/TableOfContents.test.tsx
  __tests__/deps.ts
  __tests__/index.test.tsx
  __tests__/islands/SearchButton.test.tsx
  __tests__/stubs/SearchButton.tsx
  __tests__/utils/posts.test.ts
  client.ts
  components/GoogleAnalytics.tsx
  components/SEO.tsx
  deno.json
  deno.lock
  dev.ts
  fresh.config.ts
  fresh.gen.ts
  islands/HamburgerButton.tsx
  islands/SearchButton.tsx
  main.ts
  routes/_404.tsx
  routes/_app.tsx
  routes/_middleware.ts
  routes/about/index.tsx
  routes/api/likes.ts
  routes/entry/[...all].tsx
  routes/healthz.tsx
  routes/index.tsx
  routes/rss.xml.ts
  vite.config.ts
Due: deno-fmt, deno-lint

fix: gitignore mise
  .gitignore
  .mise.toml
Due: none

chore: use deno 2 for deploy
  .github/workflows/deploy.yml
Due: none

fix: skip bundling marked for Vite
  vite.config.ts
Due: deno-fmt, deno-lint

fix: externalize GFM npm deps
  deno.lock
  vite.config.ts
Due: deno-fmt, deno-lint

docs: add local build instructions
  README.md
Due: deno-fmt

fix: support preview in Deno 2
  deno.json
  deno.lock
  main.ts
  server.ts
  utils/window-polyfill.ts
Due: deno-fmt, deno-lint

fix: inline tabler icons
  components/Footer.tsx
  components/Header.tsx
  components/icons/Activity.tsx
  components/icons/BrandGithub.tsx
  components/icons/Campfire.tsx
  components/icons/Menu.tsx
  components/icons/Rss.tsx
  components/icons/X.tsx
  islands/HamburgerButton.tsx
Due: deno-fmt, deno-lint

fix: disable likes when KV unavailable
  routes/api/likes.ts
  routes/entry/[...all].tsx
  utils/kv-support.ts
Due: deno-fmt, deno-lint

chore: run full deno tests
  .github/workflows/deno.yml
  deno.json
Due: deno-fmt
